#question {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#yes, #no {
    font-size: 2em;
}

#yes {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
}

#no {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);
}